CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

.DS_STORE
__pychache__
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist
build
*.pytest_cache

photos
venv
myenv/